*.jl.cov
*.jl.*.cov
*.jl.mem

Manifest.toml

docs/build/
docs/site/

*.ipynb_checkpoints
**/*.ipynb_checkpoints
**/**/*.ipynb_checkpoints

*.jld2
**/*.jld2
**/**/*.jld2

*.jld
**/*.jld
**/**/*.jld

_*.dat
*.swp
__pycache__/
